<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Caption This</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.37</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.37</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>e2a16b2ee9e5ab20283a39f6569c56ab442d60a1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera to record videos</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2019, Jonathan Brennecke, All Rights Reserved</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Features of this app require access to your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Features of this app require access to your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use the microphone to caption your videos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use the video library to save your editted videos</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use the built-in speech recognition system to caption your videos</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSerifPro-Semibold</string>
		<string>SourceSansPro-Bold</string>
		<string>PassionOne-Regular.ttf</string>
		<string>PT_Sans-Web-Regular.ttf</string>
		<string>PT_Sans-Web-Bold.ttf</string>
		<string>CreteRound-Regular.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSerifPro-Regular.ttf</string>
		<string>Staatliches-Regular.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>CutiveMono-Regular.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>ShadowsIntoLight.ttf</string>
		<string>SpecialElite-Regular.ttf</string>
		<string>AmaticSC-Bold.ttf</string>
		<string>Bangers-Regular.ttf</string>
		<string>Righteous-Regular.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
